* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif !important;
  scroll-behavior: smooth;
}
body {
  background: #fff;
}

.main-layout {
  min-height: 100vh;
}

.container {
  min-height: 70vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 480px) {
  .container {
    min-height: 75vh;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  .container {
    min-height: 80vh;
  } 
}