.container_escondido{
    transition: .8s;
    opacity: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: -1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 15;
}
.container_show{
    transition: .8s;
    opacity: 1;
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 15;
}
.container_escondido img, .container_show img{
    height: 90%;
    width: auto;
}

.top_pic{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 15px 15px 5px 0;
}

@media all and (min-width: 480px) and (max-width: 780px) { 
    .container_show img, .container_escondido img{
        height: auto;
        width: 95%;
    }
}
@media all and (max-width: 480px) { 
    .container_show img, .container_escondido img{
        height: auto;
        width: 95%;
    }
}